@import '@fontsource/karla/400.css';
@import '@fontsource/karla/700.css';

body {
    font-family: 'Karla', sans-serif;
	background-color: black;
	color: white;
	margin: 0;
}

html {
	font-size: 1.25rem;
	height: 100%;
}
